@model StudentAccountBLL

<br />
<br />

<div class="container">
    <form asp-controller="Student" asp-action="Home" method="post" style="width:750px;">
        <div class="form-group">
            <label for="Username">User name</label>
            <input type="text" class="form-control" value="@Model.Username" placeholder="Enter username" name="Username">
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" value="@Model.Password" placeholder="Enter password" name="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-success">Login</button>
        </div>

    </form>
</div>