@model List<StudentBLL>

<div class="btn-group" style="display:inline">
    <a asp-controller="Album" asp-action="Add" class="btn btn-success btn-sm btn-block">
            Add Record
    </a>
    <a asp-controller="Album" asp-action="Search" class="btn btn-info btn-sm btn-block">
            Search
    </a>
</div>